<ng-container [ngSwitch]="site">
  <ng-container *ngSwitchCase="'YouTube'">
    <iframe
      width="100%"
      height="315"
      [src]="videoURL"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ng-container>
  <ng-container *ngSwitchCase="'Vimeo'">
    <iframe
      [src]="videoURL"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      <a href="https://vimeo.com/706326143">Who Is A Runner | Erin McGrady</a>
      from <a href="https://vimeo.com/camp4collective">Camp4 Collective</a> on
      <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </ng-container>
</ng-container>
