<header>
  <nav class="navbar">
    <a href="" class="navbar-logo">
      <img src="/assets/images/logo.png" alt="" />
    </a>
    <ul class="navbar-links">
      <li>
        <a routerLink="/"><span class="material-icons">home</span>Home</a>
      </li>
      <li>
        <a routerLink="/movies"
          ><span class="material-icons">movie</span> Movies</a
        >
      </li>
      <li>
        <a href="/genres"><span class="material-icons">quiz</span> Genres</a>
      </li>
    </ul>
  </nav>
</header>
